.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}
